@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-primary: #1e3a8a;
  --color-brand-secondary: #3b82f6;
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}
